.bannerBack{
    background-image: url(../../../public/banner2.jpeg);
    /* height: 500px; */
}
.bannerContent{
    height: 400px;
    display: flex;
    flex-direction: column;
    padding-top: 25;
    justify-content: space-around;
}
.tagline{
    display: flex;
    height: 40%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.drop{
    border:1px;
    font-weight: bold;
    border-radius: 5%;
    /* background-color:white; */
    height:140px;
    width:160px;
    position: absolute;
    left:1100px;
    /* top:5px; */
}